.heading {
  margin: 0;
  padding: 20px 40px;
  background: #98c8fb52;
  box-shadow: 0 0 10px 5px rgba(0,0,0, .4);
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  .user-name {

    h1 {
      color: var(--main-durker-color);
      user-select: none;
    }
  }
}
