<nav class="heading">
  <div class="user-name">
    <h1>{{userName}} {{userSrName}}</h1>
  </div>

  <div class="logout">
    <button
            class="logout"
            type="button"
            (click)="logout()"
    >Log Out</button>
  </div>
</nav>
