<div class="container">
    <div class="page-not-found-page">
        <div class="oage-not-found-page-img">
            <img src="../../assets/images/404.png" alt="">
        </div>

        <div class="page-not-fond-page-btn">
            <button type="button" class="success" routerLink="/">Go Back</button>
        </div>
    </div>

</div>
