.page-not-found {
  margin: 100px auto;
  padding: 50px;
  text-align: center;

  .page-not-found {
    img {
      max-width: 400px;
      height: auto;
      margin-bottom: 50px;
    }

  }

  .page-not-found-btn {
    button {
      padding: 5px 10px;
      width: auto;
    }
  }
}
