<div class="form">

    <div class="thumbnail">
       <p>Log In</p>
    </div>

    <div class="validation" *ngIf="errorMsg">
        <span>{{errorMsg}}</span>
    </div>
    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="login()">

        <div class="form-control">
            <label>
                <input
                        type="text"
                        placeholder="Email"
                        formControlName="email" autofocus
                        [class.red-bordered]="loginForm.invalid && submitted || errorMsg"
                >
            </label>
        </div>
        <div class="form-control">
            <label>
                <input
                        type="password"
                        placeholder="Password"
                        formControlName="password"
                        [class.red-bordered]="loginForm.invalid && submitted || errorMsg"
                >

            </label>
        </div>


        <button class="login"
                type="submit"
                id="id"
        >Log In
        </button>

    </form>

</div>
