.form {
  min-width: 350px;
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  background: rgb(152, 200, 251);
  transform: translate(-50%, -70%);

  .thumbnail {
    display: flex;
    justify-content: center;
    margin: 0 auto 30px;
    color: white;
    font-size: 35px;

    img {
      max-width: 100px;
    }
  }

  .login-form {

    .form-control {
      input {
        padding: 15px;

        &.red-bordered {
          border: 2px solid var(--danger-color);
          border-radius: 3px;
        }
      }
    }

  }

  .validation {
    text-align: center;
    margin: 15px auto;

    span {
      background: var(--danger-color);
      color: white;
      padding: 5px 10px;
      border-radius: 5px;
    }
  }
}



