<div class="modal-page-background"></div>

<div class="modal-page" *ngIf="event">
    <div class="title">
        <h2>Delete {{event?.name}} event?</h2>
    </div>

    <div class="btn-action">
        <button type="button" class="success" (click)="removeEvent()">Delete</button>
        <button type="button" class="danger" (click)="cancelDeletePage()">Cancel</button>
    </div>
</div>


