.event {
  background: rgba(56, 82, 120, 0.79);
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, .2);
  margin: 20px;
  padding: 20px;
  max-width: 250px;
  min-height: 500px;
  border-radius: 10px;

  .photo {
    margin-bottom: 20px;

    img {
      max-width: 100%;
      border-radius: 5px;
    }
  }

  .title {
    margin-bottom: 30px;

    h3 {
      text-align: center;
      letter-spacing: 1px;
      color: var(--main-durker-color);
      font-size: 25px;
    }
  }

  .description {
    margin-bottom: 20px;
    small {
      margin-bottom: 10px;

      em {
        color: var(--main-color);

        &:nth-last-child {
          text-align: right;
        }
      }
    }
    p {
      color: var(--main-durker-color);
      word-break: break-word;
    }
  }

  .details {
    small {
      margin-bottom: 10px;

      em {
        color: var(--main-color);

        &:nth-last-child {
          text-align: right;
        }
      }
    }

    p {
      color: var(--main-durker-color);
      font-weight: bold;
    }

  }
}
